form{
    margin:1em;
    padding:1em;
}
div.container{
    text-align:left;
}

div.col-sm-6, div.form-group{
    text-align:left;
}
p.supply-description{
    text-align: center;
    font-style: italic;
}