.LoginRegister div.container{
    height:100vh;
    position:relative;
    margin: 1.5em auto;
    

}
.LoginRegister div.container .row{
    width:100%;
    position:absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.left{
    margin:0;
    padding: 1em;
    color: #486f65;
   
}
.right{
    color:white;
    margin:0;
    padding: 1em;
    background-color: #486f65;
}
