.SupplyListPage div.container {
    /* background-color: #577FA7; */
}

th {
    border-top: 0px none !important;
}

.table thead th {
    border-bottom: 0px none !important;
}


.react-bootstrap-table table {
    table-layout: auto;
}

.main-card {
    overflow-x: auto;
    white-space: nowrap;
}
