.main-card-container {
    /* background-color: #577FA7; */
    margin-bottom: 2rem;
    max-width: 1280px;
}

.row-information {
  margin: 0.5em;
  padding: 0.5em;
}

form .row-information {
  margin: 0.5em;
  padding: 0.5em;
}

th {
    border-top: 0px none !important;
}

.table thead th {
    border-bottom: 0px none !important;
}


.react-bootstrap-table table {
    table-layout: auto;
}

.main-card {
    overflow-x: auto;
    white-space: nowrap;
}

.a-delete {
  color: #dc3545 !important;
}

.modal-delete {}
